body {
    margin-bottom: 30px; 
    background-image: url(./images/hogwarts.jpg);
    background-attachment: fixed;
    color: white;
}

.jumbotron {
    background-color: rgb(0,0,0,.1);
    text-shadow: 4px 4px 5px black;
}

form {
    width: 40%;
    margin: 30px auto 30px auto;
    text-shadow: 4px 4px 5px black;
}

form h3 {
    color: white;
}

#form-result{
    padding-top: 10px;
}

.card {
    margin: 20px;
    border: 3px offset black;
}

.card .card-img-top {
    height: 325px;
    width: 288px;
}